{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": 4
        },
        "forceAllTransforms": true
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}
